<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<title>{{ head.title }}</title>
		<meta name="author" content="{{ head.author }}">
		<meta name="description" content="{{ head.description }}">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<header>
			<nav>
				<span>
					{% if prev_url %}
					<a href="{{ prev_url }}">prev</a>
					{% endif %}
				</span>
				<span>
					{% block header %}
					Slide {{ index }} of {{ total }}
					{% endblock header %}
				</span>
				<span>
					{% if next_url %}
					<a href="{{ next_url }}">next</a>
					{% endif %}
				</span>
			</nav>
		</header>

		<main>
			{% block main %}
			{% endblock main %}
		</main>

		<footer>
			<span>
				<a href="https://gitlab.com/eidoom/transparencies">Source</a>
			</span>
			{% block footer %}
			<span>
				{{ head.title }}
			</span>
			<span>
				{{ head.author }}
			</span>
			<span>
				{{ head.date }}
			</span>
			{% endblock footer %}
			<span>
				<a href="https://gitlab.com/eidoom/transparencies">Licence</a>
			</span>
		</footer>
	</body>

</html>

