{% extends "base.html.jinja2" %}

{% block header %}
{% endblock header %}

{% block main %}
<h1>{{ head.title }}</h1>
<h2>{{ head.description  }}</h2>
<p>{{ head.author }}</p>
<p>{{ head.date }}</p>
{% endblock main %}

{% block footer %}
<span>
</span>
<span>
</span>
<span>
</span>
{% endblock footer %}
