@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans-Italic[wdth,wght].woff2') format('woff2-variations');
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans[wdth,wght].woff2') format('woff2 supports variations');
  src: url('OpenSans[wdth,wght].woff2') format('woff2-variations');
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
	font-family: 'OpenSans';
	letter-spacing: 0.3px;
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: 1em 0;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  margin: 1em 0;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
}
